:root{
    height: 100%;
    width: 100%;
    max-width: 100wh;
    box-sizing: border-box;

    --eggshell: hsla(48, 50%, 88%, 1);
    --pale-spring-bud: hsla(70, 47%, 81%, 1);
    --olivine: hsla(76, 37%, 61%, 1);
    --cafe-au-lait: hsla(26, 28%, 53%, 1);
    --umber: hsla(23, 17%, 36%, 1);
}

html{
    font-size: 1.2rem;
}

*{
    padding: 0%;
    margin: 0%;
    border: 0%;
}

/*Video Fondo*/
video{
    position: fixed;

    min-width: 100%;
    min-height: 100%;

    z-index: -1;
}


/* Inicio Header */
.header{
    height: 4rem;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background: var(--umber);
    opacity: 60%;
}

.header .header_mail{
    margin-left: 20px;
}

.header .tittle{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 5em;
}

.header .btn_download{
    height: 30px;
    width: 200px;
    border: 3px solid var(--olivine);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--olivine);
    margin: 0 20px;
}

.header .btn_download a{
    text-decoration: none;
    color: black;

}

/* Inicio Main */
.main{
    height: 80vh;
    width: 100vw;

    background: transparent;
}

.main .main_list{
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    gap: 1.5rem;
    padding: 3rem;
}

.main .main_list .main_list_item{
    border: 5px solid var(--cafe-au-lait);
    border-radius: 2em;

    height: 30px;
    width: 300px;
    list-style-type: none;
}

.main .main_list .main_list_item:hover{
    background-color: var(--cafe-au-lait);
    box-shadow: .5rem .5rem ;

    transition: 0.2s ease-out;
    border-bottom: 1px solid var(--umber);
    border-right: 1px solid var(--umber);
}

.main_list_item a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    text-decoration: none;
    color: var(--cafe-au-lait);
}

.main_list_item a:hover{
    color: white;
}

figure{
    padding: 2px;

    height: 25px;
    width: 25px;
}

img{
    height: 25px;
    width: 25px;
}


/* Inicio Footer*/
.footer{
    height: 2rem;
    width: 100vw;

    background: var(--umber);
    opacity: 60%;
    position: absolute;


    display: flex;
    align-items: center;
    justify-content: center;
}
